  body{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
        }

        .div1
        {
            background-color: rgb(31, 188, 231);
            padding: 20px 0px;
            border-radius: 30px;
        }

        .div1 ul
        {
            display: flex;
            list-style-type: none;  /* 取消ul标签中li标签的小点。 */
            margin: 0px 0px;
        }

        .div1 ul li{
            margin: 0px 50px;
        }

        .div1 ul li a{
            border: 2px solid black;
            border-radius: 10px;
            color: #000;
            text-decoration: none;
        }
